body {
    background-color: #efefef;
}

.fullPage {
    background-color: rgba(255, 255, 255);

    display: flex;
    flex-direction: column;
    align-items:center;

    width: 75vw;
    height: auto;

    gap: 3px;
    margin-left: 12.5%;
}


    .flex-item {
    width: 90%;
    border-bottom: 0.2vw solid black;
}
.flex-item1 {
    padding-top: 5vw;
}
.flex-item1 .flex-details,
.flex-item2 .flex-details,
.flex-item3 .flex-details {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    font-size: 2vw;
}

.flex-item4 {
    display: flex;
}

.flex-item4 .buyButton {
    width: auto;
    height: 4.6vw;
    background-color: #426B1F;
    color: white;
    padding: 1.5vw;
    font-size: 1.5vw;
    border-radius: 25px;
    margin-top: 13%;
    margin-left: 2.5vw;
}

.flex-item4 .buyButton:hover{
    cursor: pointer;
    background-color: #436b1fec;
}



.flex-item1 .flex-details {
    padding-top: 0px;
    padding-bottom: 1.5vw;
}


.flex-item2 .flex-details {
    padding-bottom: 50px;
}

.flex-details .number {
    align-self: flex-start;
    font-size: 2.1vw;
    font-weight: 800;
    padding-right: 13%;
    margin-left: 15px;
}

.flex-details .title {
    align-self: flex-start;
    padding-right: 3%;
    font-weight: 800;
}

.flex-details .details {
    font-size: 1.1vw;
    opacity: 75%;
    font: black;
}

.flex-details .edit {
    font-size: 1.3vw;
    opacity: 75%;
    font: black;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}

.cartItems .number {
    color: #B69213;
}

.cartItems .title {
    color: #B69213;
}


/* PRODUCT */

.products {
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.product {
    width: 100%;
    background-color: #E6E6E6;
    display: flex;
    padding-right: 1.5vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    padding-left: 1.5vw;
    margin-bottom: 1vw;
}

.product a {
    font-size: 1.3vw;
}

.product .productImage {
    width: 11.9vw;
    height: 8vw;
    margin-right: 3vw;
}

.product .productImage img {
    max-height: 100%;
    max-width: auto;
    display: block; /* Needed to apply margins to an image */
    margin-bottom: auto;
    object-fit: contain;
}

.product .productInfo {
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.3vw
}

.product .productInfo .name {
    padding-top: 0.5vw;
}
.product .productInfo .name a{
    font-size: 1.5vw;
    text-transform: uppercase;
    color: #B69213;
    font-weight: 600;
}

.product .productPrice {
    text-align: right;
}

.product .productPrice .price a {
    font-size: 1.5vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.692);
}

.product .productPrice .quantity  {
    padding-top: 0.6vw;
}

.product .productPrice .quantity a {
    font-size: 1.2vw;
}

.product .productInfo .grafit {
    flex-grow: 1;
    display: block;
    padding-top: 0.45vw;
}


.product .productPrice {
    align-self: center;
    float: right;
}

.product .removeProduct {
    align-self: flex-end;
    padding-bottom: .5vw;
    display: flex;
    margin-left: 33%;
}

.product .removeProduct .closeButton {
    margin-left: 8px;
    color: #FFC700;
    text-align: center;
}

.product .removeProduct .closeButton:hover a{
    color: rgba(255, 255, 255, 0.672);
    cursor: pointer;
}

.product .removeProduct .closeButton a {
    font-size: 0.8vw;
    background-color: black;
    display: block;
    padding: 0.1vw;
}

.product .removeProduct a {
    font-size: 1vw;
}


/* ORDER SUMMARY */

.orderSummary {
    width: 60%;
    height: 22vw;
    background-color: #c7c7c7;
    margin: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2px;
}

.orderSummary a {
    font-size: 1.5vw;
    padding: 5vw;
    padding-left: 4vw;
}

.orderSummary .summaryText {
    flex-basis: calc(100% - 2px);
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.orderSummary .summaryText a {
    font-size: 1.9vw;
}
.orderSummary .mejdSumaText {
    flex-basis: calc(50% - 2px);
}

.orderSummary .mejdSumaPrice {
    flex-basis: calc(50% - 2px);
    text-align: right;
}

.orderSummary .discountText {
    flex-basis: calc(50% - 2px);
}

.orderSummary .discountPrice {
    flex-basis: calc(50% - 2px);
    text-align: right;
}

.orderSummary .grafitText {
    flex-basis: calc(50% - 2px);
}

.orderSummary .grafitPrice {
    flex-basis: calc(50% - 2px);
    text-align: right;
}

.orderSummary .deliveryText {
    flex-basis: calc(50% - 2px);
}

.orderSummary .deliveryPrice {
    flex-basis: calc(50% - 2px);
    text-align: right;
}

.orderSummary .line {
    width: 100%;
    height: auto;
}

.orderSummary .line hr{
    border-top: 0.2vw dashed #B69213;
    clear:both;
    width: 90%;               
}

.orderSummary .totalText {
    flex-basis: calc(50% - 2px);
}

.orderSummary .totalText a{
    font-size: 1.8vw;
    font-weight: 700;
}

.orderSummary .totalPrice {
    flex-basis: calc(50% - 2px);
    text-align: right;
}

.orderSummary .totalPrice a{
    font-size: 1.8vw;
    font-weight: 700;
}
