.login {
    width: 30vw;
    height: auto;
    margin: auto;
    padding-top: 50px;
}


.login .image img {
    width: 100%;
    display: block; /* Needed to apply margins to an image */
    margin-bottom: auto;
    object-fit: contain;
  }

  .loginRegister {
    height: 100%;
    background-color: #1A1A1A;
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 5px;

  }

  .loginRegister .labels {
    display: flex;
    justify-content: center;
  }

  .loginRegister .labels .switcherBack {
    width: 4vw;
    height: 2vw;
    background-color: black;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding-left: 5%;
    padding-top: 7%;
    border-radius: 25px;
    position: relative; /* Make sure this is set to allow absolute positioning within */
    cursor: pointer; /* Indicates clickable items */
    overflow: hidden; /* Ensures the switcher doesn't overflow its container */
  }

  .loginRegister .labels .switcher {
    background-color: gold;
    width: 45%;
    height: 80%;
    border-radius: inherit;
    position: absolute; /* Position it absolutely within switcherBack */
    left: 7%; /* Start at the left side */
    top: 10%; /* Adjust as needed for centering */
    transition: left 0.3s ease; /* Transition for smooth sliding effect */
  }
  
  .loginRegister .labels .switcherRight {
    left: 48%; /* Set this to the percentage that moves it all the way to the right */
    background-color: white;
  
  }

  .loginRegister a{
    display: block;
    padding-top: 1.5vw;
    font-size: 1.5vw;
  }

.loginPanel, .RegisterPanel {
    background-color: #33333380;
    height: 25vw;
    margin: 2.5vw;
    font-size: 1.5vw;
}


.loginPanel .email {
    padding-top: 60px;
    padding-bottom: 20px;
}

.loginPanel input, .RegisterForm input {
    border-radius: 10px;
    height: 2vw;
    font-size: 1vw;
    background-color: #D9D9D9;
}

.loginPanel button, .RegisterForm button {
    border-radius: 10px;
    height: 3vw;
    font-size: 1vw;
    background-color: #D9D9D9;
    margin-top: 30px;
    width: 6vw;
}

.RegisterPanel .RegisterForm {
  display: flex;
  flex-direction: column;
  padding-top: 2vw;
  color: black;
}


.RegisterForm input {
  margin-top: .5vw;
}

.RegisterForm select {
  border-radius: 10px;
  height: 2vw;
  font-size: 1vw;
  width: 51%;
  background-color: #D9D9D9;
}